<body class="content">
  <nav class="navbar d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">

    <h1>Bezier</h1>

    <hr>
    <h2>General Parameters</h2>
    <div class="input-group mb-3">
      <!--span class="input-group-text" id="basic-addon1">@</span-->
      <input type="text" class="form-control" #evals (keyup)="updateEvaluations(evals.value)" placeholder="Number of evaluations" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <hr>

    <div class="flex-end">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" (change)="onChange(0, $event)" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Show Control Points</label>
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" (change)="onChange(1, $event)" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Show Control Poligonals</label>
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" (change)="onChange(2, $event)" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Show Curves</label>
      </div>
    </div>

    <hr>

    <h2>Curves Manipulation</h2>

    <button type="button" (click)="updateTools(1)" class="manipulation btn btn-primary">New Curve</button>
    <button type="button" (click)="updateTools(2)" class="manipulation btn btn-primary">Select Curve</button>
    <button type="button" (click)="updateTools(3)" class="manipulation btn btn-primary">Add Point</button>
    <button type="button" (click)="updateTools(4)" class="manipulation btn btn-primary">Move Point</button>

  </nav>

  <canvas #canvas class="canvas" width="{{scrWidth}}" height="{{scrHeight}}" (click)="mouseClick($event)"></canvas>

</body>


<router-outlet></router-outlet>
